@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.divFeuille{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 0, 0);
    margin: 100px;
    border-radius: 30px;
}

.divPierre{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 0, 0);
    margin: 100px;
    border-radius: 30px;
}

.divCiseau{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 0, 0);
    margin: 100px;
    border-radius: 30px;
}
.Ordi{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 0, 0);
    margin: 100px;
    border-radius: 30px;
}

.btn:hover {
    transform: scale(1.20);
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  

header{
    background-color: #123458;
    text-align: center;
    padding: 40px;
    font-size: 30px;
    color: #F2E3C8;
}


.espaceJeu{
    text-align: center;
}

body{
    background-color: #F1EFEC;
    font-family: "Roboto", sans-serif;
}